<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juhe.pockettools"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name="com.juhe.pockettools.HelprApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JH3d10c81c2da5d095c11b5537360a47ac" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="grKLLR2VwrHgkd7y5BHzHaGt" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <activity
            android:name=".home.SplashAcitivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".home.HelprActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".flashlight.FlashLightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" />
        <activity
            android:name=".mirror.CameraMirrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".calculator.CalculatorMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".ruler.RulerMainActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".tuling.ChatActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".unit.UnitExchangeMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".exchange.ExChangeMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".sizetable.SizeTableActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".applesn.AppleSnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".mobilelocale.MobileLocaleMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".violation.ViolationMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".constelltion.ConstelltionMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.HelprActivity" />
        </activity>
        <activity
            android:name=".web.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".courier.PackageMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".dream.DreamMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".poi.PoiSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".calendar.activity.CalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".calendar.activity.CalendarDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".moive.MovieMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".moive.MovieDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".city.CityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".weather.WeatherMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".pm.PMMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
        </activity>
        <activity
            android:name=".oil.OilMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelprMainStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>